// Specific CSS for your home-page
.form-bg {
  width: 80%
}

.input-border {
  border: none;
  border-right: 1px solid #cecece;
  border-radius: 0px;
}

.fa-search-icon {
  color: #fff;
}

.form-bg .custom-button {
  margin-left:20px;
}

.card-category-images {

}
