// Specific CSS for your home-page
.form-bg {
  width: 100%;
}

.input-border {
  border: none;
  border-right: 1px solid #cecece;
  border-radius: 0px;
}

.fa-search-icon {
  color: #fff;
}

.form-bg .custom-button {
  margin-left:20px;
}

.card-category-images {
  linear-gradient: rgba(0,0,0,0.9);
}


@media (max-width: 575px) {
}

@media (min-width: 576px) {
}

h1 {
  font-family: 'Open Sans', sans-serif;
}
