<div class="edit-page">
  <div class="container d-flex justify-content-center">
    <div>
      <%= link_to chair_path(@chair) do %>
        <i class="fas fa-chevron-circle-left"></i>
      <% end %>
    </div>
    <div class="col-6 img mx-3">
      <h1>Edit Your Chair</h1>

      <%= render 'form', chair: @chair %>

      <%#= link_to 'Back', @chair, class: "btn btn-info mt-2" %>

    </div>
  </div>
</div>


<!-- <div class="img mx-3"> <%#= cl_image_tag @chair.photo.key, height: 300, width: 400, crop: :fit %> </div> -->
