<div class="container">
<h1>All Chairs</h1>

<ol>
  <% @chairs.each do |chair| %>
    <li> <%= link_to chair.name, chair_path(chair) %> </li>
  <% end %>
</ol>
</div>


<%#= cl_image_tag("jkkxus2fcsqopgdxg4ow",
      width: 400, height: 300, crop: :fill) %>
