<div class="d-flex flex-column mt-5 pt-5 footer-style">

  <div class="container">

    <div class="row">
      <div class="col mt-1">
        <h2>About</h2>
        <p>ChairBnb</p>
        <p>Our programs</p>
        <p>Out vision</p>
        <p>Our mission</p>
        <p>Our stackholders</p>
      </div>

      <div class="col mt-1">
       <h2>Best Chairs</h2>
        <p>ChairBnb</p>
        <p>Our programs</p>
        <p>Out vision</p>
        <p>Our mission</p>
        <p>Our stackholders</p>
      </div>

      <div class="col mt-1">
       <h2>Support</h2>
        <p>ChairBnb</p>
        <p>Our programs</p>
        <p>Out vision</p>
        <p>Our mission</p>
        <p>Our stackholders</p>
      </div>

      <div class="col mt-1">
       <h2>Location</h2>
        <p>ChairBnb</p>
        <p>Our programs</p>
        <p>Out vision</p>
        <p>Our mission</p>
        <p>Our stackholders</p>
      </div>
    </div>


  </div>

  <div class="d-flex justify-content-center flex-row my-3">
    <div class="copyright">© 2021 Chairbnb, Inc. All rights reserved</div>
    <div class="footer-social ">
      <i class="fab fa-facebook-f ml-5"></i>
      <i class="fab fa-instagram ml-2"></i>
      <i class="fab fa-twitter ml-2"></i>
    </div>
  </div>
</div>
