<div class="container p-5" >
  <h3>You succsessfully created a reservation for the <%= @reservation.start_date.strftime("%-d-%-m-%Y")%> to <%= @reservation.end_date.strftime("%-d-%-m-%Y")%> for <strong> <%= @reservation.chair.name %> </strong></h3>
</div>
