.footer-style {
  background: #355070;
}

.footer-style p {
  color: #fff;
  font-size: .9rem;
  font-weight: 400;
}

.footer-style h2 {
  color: #fff;
  font-size: 1.3rem;
}

.fab {
  color: #fff;
  font-size: 1rem;
}

.copyright {
  color:#fff;
  font-weight: 400;
}

.footer-hr {
  border: .8px solid #fff;
}

@media (max-width: 576px) {

}
