.price-style-show-page {
  font-size: 1.2rem;
  font-weight:600;
}

.card-container {
  box-shadow: 1px 1px 3px #cecece;
  background: #fff;
  border-radius: 5px;
  height: 450px;
}

.image-wrapper img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 20px;
}

.image-wrapper, .content-wrapper, .form-wrapper {
  flex: 1;
}

.check-availabity {
  border: 1px solid #cecece;
  padding: 10px;
  border-radius: 10px;
  height: 350px;
}

.fas, .far {
  color: #E36448;
  font-size: 1.2rem;
}

.fa-chevron-circle-left {
  font-size: 1.6rem;
}

@media (max-width: 576px) {
  .card-content {
    flex-direction: column;
  }
  .content-wrapper {
  margin-top: 30px;
  }
  .card-container {
    height: 1000px;
  }
  .image-wrapper img {
    width:100%;
    height: 300px;
    object-fit: cover;
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

